[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
pycurl = "*"
pyyaml = "*"
load-dotenv = "*"
apscheduler = "*"
feedparser = "*"
requests = "*"
nio = "*"
matrix-nio = "*"
slack-sdk = "*"
flask = "*"
slackeventsapi = "*"

[dev-packages]

[requires]
python_version = "3.10"
